html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    position: relative;
}

#offcanvasButton {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1;
}

.btn-link.route-details-btn {
    padding: 0;
    color: black;
  }

