<!DOCTYPE html>
<html>
<head>
    <title>Google Maps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfUwt_z2cVWnAnb_F3y0Ot4TNinGU1edg&libraries=geometry"></script>
</head>
<body>
    <div id="map"></div>
    <script type="text/javascript">
        var latlngs = {{ latlngs|safe }};
        console.log(latlngs);

        //Set map zoom and position
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 1.3545752, lng: 103.985405146631 },
            zoom: 13
        });

        //Colors for route
        var colors = ['blue', 'red', 'green', 'purple', 'orange'];

        //Loop through latlngs array and draw each latlng
        for(let i=0; i< latlngs.length; i++) {

            var path = latlngs[i].map(function(coord) {
                return new google.maps.LatLng(coord[0], coord[1]);
            });

            var polyline = new google.maps.Polyline({
                path: path,
                strokeColor: colors[i % colors.length],
                strokeWeight: 5
            });
        
            polyline.setMap(map);
        }

    </script>
</body>
</html>